.container {
  display: grid;
  place-items: center;
  min-height: calc(100vh - 80px);
}

.card {
  transform: translateY(-10vh);
  width: 100%;
  max-width: 400px;
  padding: var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-lg);
}

.headerGroup {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-inline: auto;
  height: 100%;
}

@media (min-width: $mantine-breakpoint-lg) {
  .headerGroup {
    width: 90%;
  }
}

@media (min-width: $mantine-breakpoint-xl) {
  .headerGroup {
    width: 80%;
  }
}
